.log-wrapper {
    width: 100%;
    margin:auto;
    padding: 5% 5%;
}

.top-wrapper h1{
    color: #ffbb00;
  }

h1 {
    color: #ffe17f;
  }

.log-wrapper h1,p,h2 {
    color: #ffe17f;
}

.top-wrapper p{
    color: #ffc400;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

video {
    width: 80%;
    display: block;
    margin: auto;
  }

.reminder {
    margin-bottom: 100px;
}

