* {
    box-sizing: border-box;
  }

  ul li{
    list-style: none;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: #60b5ae;
  }
  
  a {
    text-decoration: none;
  }

  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    font-weight: bold;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("./img/dolphin.png");
    background-size: cover;
    color: #ffbb00;
    text-align: center;
  }

  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .instagram {
    background-color: #cf2e92;
    margin-right: 10;
    margin-bottom: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #343c8f;
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .active {
    background-color: #7078d0;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  /* menu-iconのCSSを貼り付けてください */

  .menu {
    line-height: 65px;
    padding: 0 25px;
    transition: all 0.5s;
    float:right;
    color: #eee;
    border-radius: 10px;
    margin-right:0px;
  }

  .menu a{
    color:white;
  }

  .menu:hover {
    background-color: #7078d0 ;
  }
  
  .header-right a:hover {
    background-color: #7078d0;
  }

  .subMenu {
    width: 130px;
    text-align: center;
    height: 65px;
  }

  .subMenu li:last-child{
    border: none;
  }
  
  .subMenu {
    color: white;
    position: absolute;
    line-height: 65px;
    margin-top: 0px;
    margin-right: 5%;
    width: 130px;
    float: right;
    display: none;
    transition: 2s;
  }

  .subMenu ul {
    width: 100px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 60px;
    color: rgb(196, 193, 193);
    border-radius: 100px;
    list-style-position: inside;
  }

  .subMenu ul li a:hover {
    background-color: #7078d0;
    color: white;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .subMenu ul li {
    list-style-position: inside;
    border-radius: 10px;
    
  }

  .subMenu ul li a {
    display: block;
    width: 100px;
    transition: all 0.5s;
    background-color: #343c8f;
    border-radius: 10px;
    color:white;
  }

  .sub:hover {
    color: white;
  }
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color:#60b5ae;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  .lesson-wrapper h2{
    font-size: 40px;
  }

  .heading {
    font-weight: bold;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon img {
    border-radius: 150px;
  }

  .lesson-icon p {
    position: absolute;
    top: 70%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #ffd95e;
  }
  
  .message-wrapper h2,h3{
    color: #ffffff;
  }

  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 200px;
    text-align: center;
    background-image: url(./img/yuuhi.JPG);
    background-size: cover;
  }

  .heading{
    color: #ffdd6c;
  }

  .message {
    padding: 15px 40px;
    background-color: #705da8;
    box-shadow: 0 7px #343c8f;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #343c8f;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #e2cf8e;
    text-align: center;
  }

  p {
    font-size: x-large;
    font-weight: bold;
  }
